
.defaultHero {
    min-height: calc(100vh - 66px);
    background: url('/assets/beach.jpeg') 50%/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    display: inline-block;
    background: rgba(0,0,0,.5);
    color: #fff;
    color: var(--mainWhite);
    padding: 2rem 1rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 3px;
    letter-spacing: var(--mainSpacing);
}